:root {
    font-family: 'Indie Flower', sans-serif;
    --primary-color:#ffb3ba;
    --secondary-color:#b6eebd;
    --tertiary-color: #bae1ff; 
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

.flex-elem {
    border: black solid 1px;
    display: flex;
    min-width: 17vw;
    min-height: 15vh;
    align-items: center;
    justify-content: center;
}

#my-flexboxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 13vh;
}

/* top row containg one element*/

.my-flexbox1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

/*second row containing two elements*/

.my-flexbox2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

/*second row containing three elements*/

.my-flexbox3 {
    display: flex;
    justify-content: center;
}

/* Create border pop style animation for the first row */
#restaurant {
    position: relative;
    --background-color: var(--primary-color);
    --border-size: 5px;
}

#restaurant::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: var(--border-size) solid var(--background-color);
    z-index: -1;
    transition: top, left, right, bottom, 100ms ease-in-out;
}

#restaurant:hover::before, 
#restaurant:hover::after {
    top: calc(var(--border-size) * -2);
    left: calc(var(--border-size) * -2);
    right: calc(var(--border-size) * -2);
   bottom: calc(var(--border-size) * -2);
}

/* Create background slide animation for the second row */
#counter, 
#arrays {
    position: relative;
    --accent-color: var(--secondary-color);
    z-index: 1;
}

#counter::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--accent-color);
    z-index: -1;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

#arrays::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--accent-color);
    z-index: -1;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: right;
}

#counter:hover::before, 
#arrays:hover::before {
    transform: scaleX(1);
}

/* Create border underline animation for the third row */

.border-underline {
    position: relative;
    --accent-color: var(--tertiary-color);
}

.border-underline::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--border-size);
    background-color: var(--accent-color);
    --border-size: 4px;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
}

.border-underline:hover::before {
    transform: scaleX(1);
}



@media (min-width: 320px) {
    .flex-elem {
        font-size: 1rem;
        padding: 0.5rem;
    } 

    #my-flexboxes {
        margin-top: 6vh;
    }
   
    }
